<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<title><%= 'title' %></title>
</head>
<body>
  <div class="jumbotron">
    <div class="container">

<h1>Welcome <%= 'user' %>!</h1>

<p>Here's a list of the MP4 files in the media folder</p>
<!--
<ul>
  <%files.forEach(function(mp4, index){%>
    <li>
      <a href="/media/<%=index%>"><%=mp4%></a>
    </li>
    <% })%>
</ul>-->

<div class="btn-group-vertical" role="group" aria-label="...">
  <%files.forEach(function(mp4, index){%>
  <a href="/media/<%=index%>"  class="btn btn-default">
  <%=mp4%>
  <% if (lengths[mp4]){
    var minutes = Math.floor(lengths[mp4] / 60); // 7
var seconds = lengths[mp4] % 60;
%><i>(<%=minutes%>m <%=seconds.toFixed(0)%>s)</i><%}%>
  </a>
  <% })%>

</div>

</div>
</div>

</body>
</html>
